@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {

	font-size: 16px;
}

body {

	font-family: 'Oswald', sans-serif;
}

ol {

	padding: 0;
}

ol, ul {

	list-style: none;
}

h1 {

	font-size: 3.25rem;
	margin-top: 0;
	font-variant: small-caps;
	border-bottom: 2px solid grey;
}

.asteroidResults {

	background-color: #353A3F;
	margin-bottom: .5rem;
}

.asteroidResultsTitle {

	border-bottom: 1px solid black;
	padding: .5rem;
	cursor: pointer;
	color: white;
}

.asteroidResultsTitle span {

	font-family: 'Roboto Mono', monospace;
	/*font-size: .9rem;*/
	
}

h4.asteroidResultsTitle {

	margin-bottom: 0;
}

.asteroidResultsDescription {

	background-color: #E4E4E4;
	color: #292929;
}